<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/main/template.xhtml">

    <ui:define name="top">
    </ui:define>

    <ui:define name="left">
        <ui:include src="/main/menu.xhtml" />
    </ui:define>

    <ui:define name="content">
        <h:form>
        <br />
        <p style="margin-left: 330px">Zasób nie istnieje!</p>
        </h:form>
    </ui:define>
    <br />

</ui:composition>