<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/main/template.xhtml">

    <ui:define name="top">
    </ui:define>

    <ui:define name="left">
        <ui:include src="/main/menu.xhtml" />
    </ui:define>

    <ui:define name="content">
        <h:form>
        <br />
        <p style="margin-left: 330px">System obsługi i akceptacji faktur zakupowych został stworzony na potrzeby przedsiębiorstwa IT w celu optymalizacji obsługi dokumentów finansowych.</p>
        <p style="margin-left: 330px">System umożliwia obieg dokumentów pomiędzy działem administracyjnym i finansowym/księgowym firmy w celu weryfikacji oraz akceptacji bądź odrzucenia danej faktury.</p>
        <p style="margin-left: 330px">Pomaga on uporządkować dokumentację finansową dotyczącą zakupów firmy IT poprzez wykorzystanie elektronicznej bazy danych.</p>
        <p style="margin-left: 330px">Został stworzony w odpowiedzi na zapotrzebowanie usystematyzowania procesu obsługi i składowania faktur zakupowych.</p>
        <br />
        <img style="margin-left: 1000px" border="0" height="150" width="120" src="/PurchaseInvoicesSystem/faces/images/document.png" />
        </h:form>
    </ui:define>
    <br />

</ui:composition>