<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">
    <h:form id = "menu">
        <ul>
            <li><h:outputLink value="/PurchaseInvoicesSystem/faces/index.xhtml">Strona główna</h:outputLink></li>
            <f:subview id="password" rendered="#{request.isUserInRole('ADMINISTRATOR') or request.isUserInRole('ADMINISTRATION_DEPARTMENT') or request.isUserInRole('FINANCE_DEPARTMENT')}">
                <li><h:outputLink value="/PurchaseInvoicesSystem/faces/authorization/changePassword.xhtml">Zmień hasło</h:outputLink></li>
            </f:subview>
            <f:subview id="invoices" rendered="#{request.isUserInRole('ADMINISTRATION_DEPARTMENT') or request.isUserInRole('FINANCE_DEPARTMENT')}">
                <li>Faktury</li>
                <ul><f:subview id="createInvoice" rendered="#{request.isUserInRole('ADMINISTRATION_DEPARTMENT')}">
                        <li><h:outputLink value="/PurchaseInvoicesSystem/faces/invoices/createInvoice.xhtml">Utwórz fakturę</h:outputLink></li>
                    </f:subview>
                    <li>Lista faktur:</li>
                    <ul>
                        <f:subview id="newInvoices" rendered="#{request.isUserInRole('ADMINISTRATION_DEPARTMENT')}">
                            <li><h:outputLink value="/PurchaseInvoicesSystem/faces/invoices/newInvoices.xhtml">Nowe</h:outputLink></li>
                            <li><h:outputLink value="/PurchaseInvoicesSystem/faces/invoices/cancelledInvoices.xhtml">Odrzucone</h:outputLink></li>
                        </f:subview>
                        <f:subview id="invoicesInProcess" rendered="#{request.isUserInRole('FINANCE_DEPARTMENT')}">
                            <li><h:outputLink value="/PurchaseInvoicesSystem/faces/invoices/invoicesInProcess.xhtml">W obiegu</h:outputLink></li>
                            <li><h:outputLink value="/PurchaseInvoicesSystem/faces/invoices/acceptedInvoices.xhtml">Zaakceptowane</h:outputLink></li>
                        </f:subview>

                    </ul>
                </ul>
            </f:subview>
            <f:subview id="account" rendered="#{request.isUserInRole('ADMINISTRATOR')}">
                <li>Konta</li>
                <ul>
                    <li><h:outputLink value="/PurchaseInvoicesSystem/faces/accounts/createAccount.xhtml">Utwórz konto</h:outputLink></li>
                    <li><h:outputLink value="/PurchaseInvoicesSystem/faces/accounts/accountsList.xhtml">Lista kont</h:outputLink></li>
                </ul>
            </f:subview>
            <li><h:outputLink value="/PurchaseInvoicesSystem/faces/main/info.xhtml">Info</h:outputLink></li>
        </ul>
    </h:form>
</ui:composition>

