<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>PurchaseInvoicesSystem</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <style type="text/css">
            #top {
                background-color: coral;
                color: black;
                padding: 30px;
                margin: 0px 0px 0px 0px;
            }

            #left {
                float: left;
                background-color: #c2dfef;
                padding: 10px;
                width: 300px;
                min-height: 800px;
            }

            .right_content {
                background-color: paleturquoise;
                padding: 10px;
                margin: 0px 0px 0px 0px;
                min-height: 800px;
                width: 1800px;
            }

            h2 {
                font-family: "Courier New";
                font-size:  20px;
                font-weight: bold;
                margin: 5px;
                padding: 5px;
                color: #000000;
            }
            h1 {
                font-family: "Courier New";
                font-size:  28px;
                font-weight: bold;
                margin: 5px;
                padding: 5px;
                color: #000000;
            }
            
            p {
                font-family: "Times New Roman";
                font-size:  15px;
                font-weight: bold;
                margin: 5px;
                padding: 5px;
                color: #000000;
            }
        </style>
    </h:head>
    <h:body>
        <div id="top">
            <ui:insert name="top">Top</ui:insert>
            <h:form>
                <h:commandLink style ="margin-left: 1410px" action="login" value="Zaloguj się" rendered="#{empty request.remoteUser}"/>
                <h:commandLink style ="margin-left: 1410px" action="#{accountSession.registrateSession()}" value="Wyloguj się" rendered="#{not empty request.remoteUser}"/>
                <center><p style="font-family: cursive; font-size: 25px; color: darkblue">System obsługi i akceptacji faktur zakupowych</p></center>
            </h:form>
         
        </div>
        <div>
            <div id="left">
                <ui:insert name="left">Left</ui:insert>
            </div>
            <div id="content" class="right_content">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </div>
        <div id="bottom">
        </div>
    </h:body>
</html>

