<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/main/template.xhtml">

    <ui:define name="top">
    </ui:define>

    <ui:define name="left">
        <ui:include src="/main/menu.xhtml" />
    </ui:define>

    <ui:define name="content">
        <br />
        <h1><center>Lista kont</center></h1>
        <br />
        <h:form>
            <h:dataTable style="margin-left: 330px" value="#{listAccountsPageBean.employees}" var="employee" border="5">
                <h:column>
                    <f:facet name="header" >L.p.</f:facet>
                        #{listAccountsPageBean.employees.indexOf(employee) + 1}.
                </h:column>
                <h:column>
                    <f:facet name="header" >Imię</f:facet>
                        #{employee.firstName}

                </h:column>
                <h:column>
                    <f:facet name="header" >Nazwisko</f:facet>
                        #{employee.lastName}

                </h:column>
                <h:column>
                    <f:facet name="header" >PESEL</f:facet>
                        #{employee.pesel}

                </h:column>
                <h:column>
                    <f:facet name="header" >Email</f:facet>
                        #{employee.email}

                </h:column>                
                <h:column>
                    <f:facet name="header" >Telefon</f:facet>
                        #{employee.telephone}
                </h:column>
                <h:column>
                    <f:facet name="header" >Dostępne akcje</f:facet>
                    <h:commandButton value="Edytuj" action="#{listAccountsPageBean.editAccount(employee)}" />
                    <h:commandButton value="Usuń" action="#{listAccountsPageBean.removeAccount(employee)}" />
                </h:column>
            </h:dataTable>
        </h:form>
    </ui:define>

</ui:composition>

