<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns="http://www.w3.org/1999/xhtml"
                template="/main/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="top">
    </ui:define>

    <ui:define name="left">
        <ui:include src="/main/menu.xhtml" />
    </ui:define>

    <ui:define name="content">
        <h:form id="changePassword">
            <br />
            <h1><center>Zmień hasło</center></h1>
            <h:outputLabel style="margin-left: 20px; text-align: center" value="  Starte hasło:  " />
            <h:inputSecret style="margin-left: 60px" id="oldPassword" value="#{editAccountPageBean.accountDto.password}" maxlength="20" required="true" validatorMessage="Hasło powinno zawierać od 5 do 20 znaków"> 
                  <f:validateRegex pattern=".{5,}"/> 
            </h:inputSecret> &nbsp; <h:message for="oldPassword" style="color:red" />
            <br />
            <h:outputLabel style="margin-left: 20px; text-align: center" value="  Nowe hasło:  " />
            <h:inputSecret id="newPassword" style="margin-left: 60px" value="#{editAccountPageBean.accountDto.newPassword}" maxlength="20" required="true" validatorMessage="Hasło powinno zawierać od 5 do 20 znaków"> 
                  <f:validateRegex pattern=".{5,}"/>  
            </h:inputSecret> &nbsp; <h:message for="newPassword" style="color:red" />
            <br />
            <h:outputLabel style="margin-left: 20px; text-align: center" value="  Powtórz nowe hasło:  " />
            <h:inputSecret style="margin-left: 6px"  id="repeatNewPassword" value="#{editAccountPageBean.accountDto.confirmedPassword}" maxlength="20" required="true" validatorMessage="Hasło powinno zawierać od 5 do 20 znaków"> 
                  <f:validateRegex pattern=".{5,}"/> 
            </h:inputSecret> &nbsp; <h:message for="repeatNewPassword" style="color:red" />
            <br />
            <br />
            <h:commandButton style="margin-left: 20px" value="Zmień hasło" action="#{editAccountPageBean.editPassword()}"/>
            <h:messages globalOnly="true" />
        </h:form>
    </ui:define>

</ui:composition>

