<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns="http://www.w3.org/1999/xhtml"
                template="/main/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="top">
    </ui:define>

    <ui:define name="left">
        <ui:include src="/main/menu.xhtml" />
    </ui:define>

    <ui:define name="content">
        <h1 style="margin-left: 330px"> Wpisz login i hasło</h1>
        <br />
        <form method="post" action="j_security_check">
            <p style="margin-left: 330px">
                Login:
                <input style="margin-left: 10px" type="text" name= "j_username" />
            </p>
            <p style="margin-left: 330px">
                Hasło:
                <input style="margin-left: 10px" type="password" name= "j_password" />
            </p>

            <p style="margin-left: 330px">
                <input type="submit" value="Zaloguj" />
            </p>
        </form>
    </ui:define>

</ui:composition>

