<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns="http://www.w3.org/1999/xhtml"
                template="/main/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="top">
    </ui:define>

    <ui:define name="left">
        <ui:include src="/main/menu.xhtml" />
    </ui:define>

    <ui:define name="content">
        <h:form>
            <h1><center>Powód odrzucenia faktury</center></h1>
            <br />
            <p style="margin-left: 325px; color: red; font-weight: bold;" >Uzasadnij, dlaczego anulowaleś fakturę</p>
            <h:outputLabel style="margin-left: 20px; text-align: center" value=" Przyczyna:  " />
            <h:inputText id = "reason" style="width:738px;height:25px" value="#{editPageBean.invoice.reasonBeforeCancelled}" maxlength="10000" required="true" validatorMessage="Napisz, co zostało zmienione w powyższym dokumencie" ><f:validateRequired /></h:inputText><br /> <h:message style="margin-left: 20px; text-align: center; color:red" for="reason"/>
            <br /> 
            <br />
            <br />
            <h:commandButton style="margin-left: 20px" value="Odrzuć" action="#{editPageBean.cancelInvoice()}"/>
        </h:form>
    </ui:define>
    
</ui:composition>