<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns="http://www.w3.org/1999/xhtml"
                template="/main/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="top">
    </ui:define>

    <ui:define name="left">
        <ui:include src="/main/menu.xhtml" />
    </ui:define>

    <ui:define name="content">
        <h:form>
            <br />
            <h1><center>Faktura VAT</center></h1>
            <br />
            <h:outputLabel style="margin-left: 20px; text-align: center" value="  Numer faktury:  " />
            <h:inputText id="number" value="#{createPageBean.invoice.number}" maxlength="120" required="true" />

            <h:outputLabel style="margin-left: 20px; text-align: center" value="  Data faktury:  " />
            <h:inputText id="dateOfInvoice" value="#{createPageBean.invoice.dateOfInvoice}" maxlength="10" required="true" validatorMessage="Data faktury: poprawny format daty to dd/mm/rrrr">

                <f:validateRegex pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}"/> 
            </h:inputText>

            <h:outputLabel style="margin-left: 20px; text-align: center" value="  Data płatności:  " />
            <h:inputText id="dateOfPayment" value="#{createPageBean.invoice.dateOfPayment}" maxlength="10" required="true" validatorMessage="Data płatności: Poprawny format daty to dd/mm/rrrr">

                <f:validateRegex pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}"/> 
            </h:inputText>
            <br />
            <h:message style="margin-left: 20px; text-align: center; color:red" for="number"/> <h:message style="margin-left: 40px; text-align: center; color:red" for="dateOfInvoice"/> <h:message style="margin-left: 60px; text-align: center; color:red" for="dateOfPayment" />
            <br />
            <h2 style="margin-left: 400px;">Dostawca</h2>
            <h:outputLabel style="margin-left: 20px; text-align: center" value="  Nazwa:  " />
            <h:inputText id="name" value="#{createPageBean.vendorDto.name}" maxlength="120" required="true" /> &nbsp; <h:message for="name" style="margin-left: 20px; text-align: center;color:red" />
            <br />
            <h:outputLabel  style="margin-left: 20px; text-align: center" value="  Adres:  " />
            <h:inputText id="address" style="margin-left: 6px;"  value="#{createPageBean.vendorDto.address}" maxlength="400" required="true" /> &nbsp; <h:message for="address" style="margin-left: 20px; text-align: center;color:red" />
            <br />
            <h:outputLabel style="margin-left: 20px; text-align: center" value="  Kraj:  " />
            <h:inputText id="country" style="margin-left: 16px;" value="#{createPageBean.vendorDto.country}" maxlength="60" required="true" /> &nbsp; <h:message for="country" style="margin-left: 20px; text-align: center;color:red" />
            <br />
            <br />
            <h2 style="padding-left: 400px">  Artykuły</h2>
            
            <p style="margin-left: 330px; color: red; font-weight: bold;" >Aby utworzyć fakturę, dodaj przynajmniej jeden artykuł</p>
            <table style="margin-left: 330px; text-align: center" border="5">
                <tr>
                    <td>Nazwa artykułu</td><td>Cena za sztukę</td><td>Ilość</td><td>Stopa podatkowa</td>
                </tr>
                <tr>
                    <td><h:inputText id="nameOfArticle" value="#{createPageBean.articleDto.nameOfArticle}" maxlength="300" required="true" ></h:inputText></td> 
                    <td><h:inputText id="price" value="#{createPageBean.articleDto.price}" maxlength="20" required="true" validatorMessage="Cena: wartość nie może być mniejsza od 0" ><f:validateDoubleRange minimum="0"/></h:inputText></td> 
                    <td><h:inputText id="quantityOfArticle" value="#{createPageBean.articleDto.quantityOfArticles}" maxlength="20" required="true" validatorMessage="Ilość: ilość nie może być mniejsza od 1"><f:validateDoubleRange minimum="1"/></h:inputText></td>
                    <td><h:inputText id="tax" value="#{createPageBean.articleDto.taxForArticle}" maxlength="5" required="true" validatorMessage="Podatek: wartość nie może być mniejsza od 0 i nie większa od 100"><f:validateDoubleRange minimum="0" maximum="100"/></h:inputText></td>
                    
                    <td><h:commandButton value="Dodaj artykuł do faktury" action="#{createPageBean.addArticle()}"/></td>
                </tr>
            </table>
            <h:message style="margin-left: 20px; text-align: center; color:red" for="nameOfArticle"/> &nbsp; &nbsp;<h:message style="margin-left: 20px; text-align: center; color:red" for="price"/> &nbsp;&nbsp; <h:message style="margin-left: 20px; text-align: center; color:red" for="quantityOfArticle"/> &nbsp;&nbsp; <h:message style="margin-left: 20px; text-align: center; color:red" for="tax"/>
            <br /> 
            <br />
            <h:outputLabel style="margin-left: 20px; text-align: center" value="  Komentarz:  " />
            <h:inputText style="width:738px;height:25px" id="comment" value="#{createPageBean.invoice.comment}" maxlength="10000" required="false" /> <h:message style="margin-left: 20px; text-align: center; color:red" for="comment"/>
        </h:form>
    </ui:define>

</ui:composition>

