<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns="http://www.w3.org/1999/xhtml"
                template="/main/template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="top">
    </ui:define>

    <ui:define name="left">
        <ui:include src="/main/menu.xhtml" />
    </ui:define>

    <ui:define name="content">
        <h:form>
            <h1><center>Faktura VAT</center></h1>
            <br />
            <h:outputLabel style="margin-left: 20px; text-align: center"  value="  Numer faktury:  " />&nbsp;&nbsp;
            <h:outputText style="font-weight: bold;" id="number" value="#{editPageBean.invoice.number}"/> 

            <h:outputLabel style="margin-left: 20px; text-align: center"  value="  Data faktury:  " />
            <h:inputText id="dateOfInvoice" value="#{editPageBean.invoice.dateOfInvoice}" maxlength="400" required="true" validatorMessage="Data faktury: poprawny format daty to dd/mm/rrrr">

                <f:validateRegex pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}"/> 

            </h:inputText>

            <h:outputLabel style="margin-left: 20px; text-align: center"  value="  Data płatności:  " />
            <h:inputText id="dateOfPayment" value="#{editPageBean.invoice.dateOfPayment}" maxlength="400" required="true" validatorMessage="Data płatności: poprawny format daty to dd/mm/rrrr">

                <f:validateRegex pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}"/> 

            </h:inputText>
            <br />
            <h:message style="margin-left: 20px; text-align: center; color:red" for="number" /> &nbsp; <h:message for="dateOfInvoice" style="margin-left: 20px; text-align: center; color:red" /> &nbsp; <h:message for="dateOfPayment" style="margin-left: 20px; text-align: center; color:red" />
            <br />
            <h2 style="margin-left: 400px;">Dostawca</h2>
            <h:outputLabel style="margin-left: 20px; text-align: center" value="  Nazwa:  " />
            <h:inputText id="name" value="#{editPageBean.vendor.name}"/> &nbsp; <h:message for="name" style="color:red" />
            <br />
            <h:outputLabel style="margin-left: 20px; text-align: center" value="  Adres:  " />
            <h:inputText style="margin-left: 6px" id="address"  value="#{editPageBean.vendor.address}" /> &nbsp; <h:message for="address" style="color:red" />
            <br />
            <h:outputLabel style="margin-left: 20px; text-align: center" value="  Kraj:  " />
            <h:inputText style="margin-left: 16px" id="country"  value="#{editPageBean.vendor.country}" /> &nbsp; <h:message for="country" style="color:red" />
            <br /> 
            <br />
            <h2 style="margin-left: 400px;">  Artykuły</h2>

            <h:dataTable style="margin-left: 330px" value="#{editPageBean.articles}" var="article" border="5">
                <h:column>
                    <f:facet name="header" >Numer</f:facet>
                    #{editPageBean.articles.indexOf(article) + 1}.
                    
                </h:column>
                <h:column>
                    <f:facet name="header" >Nazwa artykułu</f:facet>
                    #{article.nameOfArticle}
                    
                </h:column>
                <h:column>
                    <f:facet name="header" >Cena za sztukę</f:facet>
                    #{article.price} zł
                    
                </h:column>
                <h:column>
                    <f:facet name="header" >Ilość</f:facet>
                    #{article.quantityOfArticles} szt.
                    
                </h:column>
                <h:column>
                    <f:facet name="header" >Cena netto</f:facet>
                    #{article.totalNetPrice} zł
                    
                </h:column>                
                <h:column>
                    <f:facet name="header" >Stopa podatkowa</f:facet>
                    #{article.taxRate}%
                    
                </h:column>
                <h:column>
                    <f:facet name="header" >Cena brutto</f:facet>
                    #{article.totalGrossPrice} zł
                    
                </h:column>
            </h:dataTable>
            <br />
            <table style="margin-left: 330px" border="5">
                <tr>
                    <td>Nazwa artykułu</td><td>Cena za sztukę</td><td>Ilość</td><td>Stopa podatkowa</td>
                </tr>
                <tr>
                    <td><h:inputText id="nameOfArticle" value="#{editPageBean.articleDto.nameOfArticle}" maxlength="300" required="false" ></h:inputText></td> 
                    <td><h:inputText id="price" value="#{editPageBean.articleDto.price}" maxlength="20" required="false" validatorMessage="Cena: wartość nie może być mniejsza od 0"><f:validateDoubleRange minimum="0"/></h:inputText></td> 
                    <td><h:inputText id="quantityOfArticle" value="#{editPageBean.articleDto.quantityOfArticles}" maxlength="20" required="false" validatorMessage="Ilość: ilość nie może być mniejsza od 1"><f:validateDoubleRange minimum="1"/></h:inputText></td>
                    <td><h:inputText id="tax" value="#{editPageBean.articleDto.taxForArticle}" maxlength="5" required="false" validatorMessage="Podatek: wartość nie może być mniejsza od 0 i większa od 100"><f:validateDoubleRange minimum="0" maximum="100"/></h:inputText></td>
                    <td><h:commandButton value="Dodaj artykuł do faktury" action="#{editPageBean.addArticle()}"/></td>
                </tr>
            </table>
             <h:message for="nameOfArticle" style="margin-left: 20px; text-align: center; color:red" /> &nbsp; <h:message for="price" style="margin-left: 20px; text-align: center; color:red" /> &nbsp; <h:message for="quantityOfArticle" style="margin-left: 20px; text-align: center; color:red" /> &nbsp; <h:message for="tax" style="margin-left: 20px; text-align: center; color:red"/>
            <br />
            <br />
            <p style="margin-left: 325px; color: red; font-weight: bold;" >Udokumentuj w komentarzu, co zostało zmienione</p>
            <h:outputLabel style="margin-left: 20px; text-align: center" value="  Komentarz:  " />
            <h:inputText id = "comment" style="width:738px;height:25px" value="#{editPageBean.invoice.comment}" maxlength="10000" validatorMessage="Napisz, co zostało zmienione w powyższym dokumencie" ><f:validateRequired /></h:inputText><br /> <h:message style="margin-left: 20px; text-align: center; color:red" for="comment"/>
            <br /> 
            <br />
            <br />
            <h:commandButton style="margin-left: 20px" value="Edytuj" action="#{editPageBean.editInvoice()}"/>
            <h:commandButton style="margin-left: 20px" value="Powróć" action="#{listPageBean.returnToMainPage()}"/>
        </h:form>
    </ui:define>
    
</ui:composition>