<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets" 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/main/template.xhtml">

    <ui:define name="top">
    </ui:define>

    <ui:define name="left">
        <ui:include src="/main/menu.xhtml" />
    </ui:define>

    <ui:define name="content">
        <br />
        <h1><center>Lista nowo utworzonych faktur</center></h1>
        <br />
        <h:form>
            <h:dataTable style="margin-left: 330px" value="#{listPageBean.newInvoices}" var="invoice" border="5">
                <h:column>
                    <f:facet name="header" >L.p.</f:facet>
                    
                    #{listPageBean.newInvoices.indexOf(invoice) + 1}.

                </h:column>
                <h:column>
                    <f:facet name="header" >Numer</f:facet>
                        #{invoice.number}

                </h:column>
                <h:column>
                    <f:facet name="header" >Data faktury</f:facet>
                        #{invoice.dateOfInvoice}

                </h:column>
                <h:column>
                    <f:facet name="header" >Data płatności</f:facet>
                        #{invoice.dateOfPayment}

                </h:column>
                <h:column>
                    <f:facet name="header" >Kwota netto</f:facet>
                    #{invoice.netValue} zł

                </h:column>                
                <h:column>
                    <f:facet name="header" >Kwota podatku</f:facet>
                    #{invoice.valueOfTaxes} zł

                </h:column>
                <h:column>
                    <f:facet name="header" >Kwota brutto</f:facet>
                    #{invoice.grossValue} zł

                </h:column>
                <h:column>
                    <f:facet name="header" >Status</f:facet>
                        #{invoice.status}

                </h:column>
                <h:column>
                    <f:facet name="header" >Dostępne akcje</f:facet>
                    <h:commandButton value="Edytuj" action="#{listPageBean.editInvoice(invoice)}" />
                    <h:commandButton value="Wyślij do działu księgowego" action="#{listPageBean.sendInvoice(invoice)}" />
                </h:column>
            </h:dataTable>
        </h:form>
    </ui:define>

</ui:composition>

